<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhl.dao.MyUserDao">
    <select id="selectUserByName" resultType="com.yhl.pojo.MyUser" parameterType="com.yhl.pojo.MyUser">
        select * from myuser where 1=1;
        <if test="uname!null and uname!=''">
            and uname like concat({#uname},'%')
        </if>
    </select>
</mapper>